@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --color-main: #6f48f1;
    --color-grey: #f9fafc;
    --color-white: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: /*'GT Walsheim Pro',*/ 'Poppins', sans-serif;
}

a {
    color: #505050;
}

.bg-white {
    background: var(--color-white);
}

.btn {
    border: none;
    outline: none;
    padding: .7rem 2rem;
    border-radius: 20px;
}

.btn-main {
    background: var(--color-main);
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    padding: 1rem;
    width: 70%;
    margin: auto;
}

header {
    background: var(--color-white);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 0rem;
}

.brand {
    color: #333;
    font-weight: bolder;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li {
   margin-left: 2rem;
}

.grid-2x, .hero-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0rem 2.4rem;
}

.hero {
    background: #f4f4f6;
    min-height: 55vh;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh;
    padding: 1.4rem 0rem;
}

.hero-info h1,
.hero-info h3 {
    margin-bottom: .5rem;
    color: #333;
}

.hero-info h1 {
    font-size: 2.6rem;
}

.hero-info h3 {
    font-size: 1.6rem;
}

.hero-info p {
    line-height: 1.7rem;
    margin-bottom: 2rem;
    color: #505050;
}

section {
    padding: 2rem 0;
}

#about, #contact {
    background: var(--color-grey);
    padding: 3rem 0rem;
}

.about-info h2 {
    font-weight: bolder;
    margin-bottom: .7rem;
    font-size: 2.3rem;
}

.about-info h3 {
    margin-bottom: .7rem;
    color: #333;
    font-weight: light;
    font-size: 1.6rem;
}

.about-info p {
    line-height: 1.7rem;
    color: #505050;
}

.social-grid {
    padding: 3.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.9rem 2rem;
    border-radius: 3px;
}

.social-grid > div {
    display: flex;
    align-items: flex-end;
}

.works-header {
    margin-bottom: 2.5rem;
}

.works-header h3 {
    font-size: 3rem;
}

.work-grid {
    margin-bottom: 4rem;
}

.work-image img {
    width: 80%;
}

.work-info h2 {
    color: #333;
    font-size: 1.4rem;
    margin-bottom: .6rem;
}

.work-info p {
    color: #505050;
    line-height: 1.8rem;
    text-align: justify;
}

.work-btn {
    margin-top: 1rem;
}

.work-btn a {
    display: inline-block;
    margin-right: 1rem;
    font-size: .85rem;
    font-weight: bold;
}

#contact {
    text-align: center;
}

.contact-form-wrapper {
    width: 55%;
    margin: auto;
}

.form-wrapper {
    margin-bottom: 1rem;
}

.form-wrapper label {
    margin-bottom: .5rem;
    display: block;
    text-align: left;
    text-transform: uppercase;
    color: #707070;
    font-size: .8rem;
    font-weight: bold;
}

.form-wrapper input,
.form-wrapper textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    width: 100%;
    display: block;
    padding: .7rem 1rem;
    outline: none;
}

.form-wrapper input:focus,
.form-wrapper textarea:focus {
    border: 1px solid var(--color-main);
}

.form-wrapper input[type=email] {
    margin-bottom: .5rem;
    display: block;
    height: 40px;
}

.contact-form-wrapper button {
    display: inline-block;
    margin-top: 1.5rem;
}

.contact-links {
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.flex-links a {
    display: inline-block;
    margin: 0rem 1.2rem;
}

@media only screen and (max-width: 1024px) {
    .hero-grid {
        display: block;
    }
    
    .hero-skills {
        display: none;
    }
    
    .about-grid {
        display: block;
    }
    
    .social-grid {
        display: flex;
        margin-top: 1rem;
        border-radius: 7px;
    }
    
    .social-grid img {
        width: 100%;
    }
    
    .works-header {
        text-align: center !important;
    }
    
    .work-grid {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 5rem;
    }
    
    .work-image {
        margin-bottom: 2rem;
    }
}